<div class="container div-register">
    <div class="card card-register">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form class="form-horizontal" action='' method="POST">
            <fieldset>
              <div class="mb-3">
                <!-- Username -->
                <label class="form-label"  for="username">Username</label>

                  <input type="text" id="username" name="username" placeholder="" class="form-control" aria-describedby="emailHelp">
               
              </div>
           
              <div class="mb-3">
                <!-- Password-->
                <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" name="password" placeholder="" class="form-control" aria-describedby="emailHelp">
              </div>
           
              <div class="mb-3">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">Login</button>
                </div>
              </div>
            </fieldset>
          </form>
      </div>
    </div>
  </div>





